In [1]:
from aframe import AFrame

In [2]:
af = AFrame(dataverse='test', dataset='TweetItems')

In [3]:
af

AsterixDB DataFrame with the following 'open' columns:
	[{'name': 'id', 'type': 'int64', 'nullable': False}, {'name': 'text', 'type': 'string', 'nullable': False}]

In [4]:
len(af)

5981

In [5]:
af.columns

"[{'name': 'id', 'type': 'int64', 'nullable': False}, {'name': 'text', 'type': 'string', 'nullable': False}]"

In [6]:
df = af.toPandas()

In [7]:
df.head()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,reply_count,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user,withheld_in_countries
id,,,,,,,,,,,,,,,,,,,,,
961469310869823488,NaN,None,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 961400756740923392, 'id_str'...",NaN,0,False,low,...,0,0,False,{'created_at': 'Thu Feb 08 00:46:19 +0000 2018...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @MicahGrimes: 2 iconic photos. 1 year. Only...,2018-02-08 05:18:41.604,False,"{'id': 320000200, 'id_str': '320000200', 'name...",NaN
961469311293550597,NaN,None,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,0,0,False,{'created_at': 'Wed Feb 07 22:54:04 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @EdKrassen: Nancy Pelosi has more Enerygy a...,2018-02-08 05:18:41.705,False,"{'id': 50667682, 'id_str': '50667682', 'name':...",NaN
961469311326986242,NaN,None,2018-02-08 05:18:41,"[0, 140]","{'hashtags': [{'text': 'POTUS', 'indices': [66...",NaN,{'full_text': 'CNN - INTERNATIONAL . THE LEAST...,0,False,low,...,0,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",CNN - INTERNATIONAL . THE LEAST TRUSTED NAME...,2018-02-08 05:18:41.713,True,"{'id': 882677034429710336, 'id_str': '88267703...",NaN
961469311578652673,NaN,None,2018-02-08 05:18:41,"[17, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': '@realDonaldTrump The Russian As...,0,False,low,...,0,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",@realDonaldTrump The Russian Asset Donald Trum...,2018-02-08 05:18:41.773,True,"{'id': 958747420904497153, 'id_str': '95874742...",NaN
961469311700340737,NaN,None,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,0,0,False,{'created_at': 'Wed Feb 07 15:48:03 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @nowthisnews: This Trump supporter used the...,2018-02-08 05:18:41.802,False,"{'id': 749752742, 'id_str': '749752742', 'name...",NaN

In [8]:
df.columns

Index(['contributors', 'coordinates', 'created_at', 'display_text_range',
       'entities', 'extended_entities', 'extended_tweet', 'favorite_count',
       'favorited', 'filter_level', 'geo', 'id_str', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status',
       'lang', 'place', 'possibly_sensitive', 'quote_count', 'quoted_status',
       'quoted_status_id', 'quoted_status_id_str', 'reply_count',
       'retweet_count', 'retweeted', 'retweeted_status', 'source', 'text',
       'timestamp_ms', 'truncated', 'user', 'withheld_in_countries'],
      dtype='object')

In [9]:
af['truncated'].head(2)

                    truncated
id
961469310869823488      False
961469311293550597      False

In [10]:
df['truncated'].head(2)

id
961469310869823488    False
961469311293550597    False
Name: truncated, dtype: bool

In [11]:
af[af['truncated'] == True].head(2)

,contributors,coordinates,created_at,display_text_range,entities,extended_tweet,favorite_count,favorited,filter_level,geo,...,possibly_sensitive,quote_count,reply_count,retweet_count,retweeted,source,text,timestamp_ms,truncated,user
id,,,,,,,,,,,,,,,,,,,,,
961469328460673024,NaN,NaN,2018-02-08 05:18:45,"[117, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",{'full_text': '@1Forde @Gdad1 @MyKidsHavePaws ...,0,False,low,NaN,...,NaN,0,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",@1Forde @Gdad1 @MyKidsHavePaws @Comey @joshsca...,2018-02-08 05:18:45.798,True,"{'id': 16791120, 'id_str': '16791120', 'name':..."
961469329450721280,NaN,NaN,2018-02-08 05:18:46,"[0, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...","{'full_text': 'Once again, Trump and his Repub...",0,False,low,NaN,...,0.0,0,0,0,False,"<a href=""https://RDTdaily.com"" rel=""nofollow"">...","Once again, Trump and his Republican mouthpiec...",2018-02-08 05:18:46.034,True,"{'id': 835567168821604353, 'id_str': '83556716..."

In [12]:
df[df['truncated'] == True].head(2)

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,reply_count,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user,withheld_in_countries
id,,,,,,,,,,,,,,,,,,,,,
961469311326986242,NaN,None,2018-02-08 05:18:41,"[0, 140]","{'hashtags': [{'text': 'POTUS', 'indices': [66...",NaN,{'full_text': 'CNN - INTERNATIONAL . THE LEAST...,0,False,low,...,0,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",CNN - INTERNATIONAL . THE LEAST TRUSTED NAME...,2018-02-08 05:18:41.713,True,"{'id': 882677034429710336, 'id_str': '88267703...",NaN
961469311578652673,NaN,None,2018-02-08 05:18:41,"[17, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': '@realDonaldTrump The Russian As...,0,False,low,...,0,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",@realDonaldTrump The Russian Asset Donald Trum...,2018-02-08 05:18:41.773,True,"{'id': 958747420904497153, 'id_str': '95874742...",NaN

In [13]:
a = af['truncated']
print(a.query)

from test.TweetItems t select t.id, t.truncated;

In [14]:
a = af['truncated'] == True
print(a.query)

with q as(from test.TweetItems t select t.id, t.truncated) from q t1 select t1.id, t1.truncated=True truncated;

In [15]:
a = af[af['truncated'] == True]
print(a.query)

with q as(with q as(from test.TweetItems t select t.id, t.truncated) from q t1 select t1.id, t1.truncated=True truncated)
from q t1 LEFT OUTER JOIN test.TweetItems t on t.id=t1.id where t1.truncated = true select value t;

In [16]:
a = (af['truncated'] == True) & (af['favorited'] == False)
print(a.query)

with q1 as (with q as(from test.TweetItems t select t.id, t.truncated) from q t1 select t1.id, t1.truncated=True truncated),
  q2 as(with q as(from test.TweetItems t select t.id, t.favorited) from q t1 select t1.id, t1.favorited=False favorited)
 from q1 t1, q2 t2 where t1.id=t2.id select t1.id, t1.truncated and t2.favorited as result;

In [17]:
a.head(5)

                    result
id
961469310869823488   False
961469311293550597   False
961469311326986242    True
961469311578652673    True
961469311700340737   False

In [18]:
b = (df['truncated'] == True) & (df['favorited'] == False)
b.head()

id
961469310869823488    False
961469311293550597    False
961469311326986242     True
961469311578652673     True
961469311700340737    False
dtype: bool

In [19]:
a = af[(af['truncated'] == True) & (af['favorited'] == False)]
print(a.query)

with q as(with q1 as (with q as(from test.TweetItems t select t.id, t.truncated) from q t1 select t1.id, t1.truncated=True truncated),
  q2 as(with q as(from test.TweetItems t select t.id, t.favorited) from q t1 select t1.id, t1.favorited=False favorited)
 from q1 t1, q2 t2 where t1.id=t2.id select t1.id, t1.truncated and t2.favorited as result)
from q t1 LEFT OUTER JOIN test.TweetItems t on t.id=t1.id where t1.result = true select value t;

In [20]:
a.head(2)

,contributors,coordinates,created_at,display_text_range,entities,extended_tweet,favorite_count,favorited,filter_level,geo,...,possibly_sensitive,quote_count,reply_count,retweet_count,retweeted,source,text,timestamp_ms,truncated,user
id,,,,,,,,,,,,,,,,,,,,,
961469328460673024,NaN,NaN,2018-02-08 05:18:45,"[117, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",{'full_text': '@1Forde @Gdad1 @MyKidsHavePaws ...,0,False,low,NaN,...,NaN,0,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",@1Forde @Gdad1 @MyKidsHavePaws @Comey @joshsca...,2018-02-08 05:18:45.798,True,"{'id': 16791120, 'id_str': '16791120', 'name':..."
961469329450721280,NaN,NaN,2018-02-08 05:18:46,"[0, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...","{'full_text': 'Once again, Trump and his Repub...",0,False,low,NaN,...,0.0,0,0,0,False,"<a href=""https://RDTdaily.com"" rel=""nofollow"">...","Once again, Trump and his Republican mouthpiec...",2018-02-08 05:18:46.034,True,"{'id': 835567168821604353, 'id_str': '83556716..."

In [21]:
b = df[(df['truncated'] == True) & (df['favorited'] == False)]
b.head(2)

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,reply_count,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user,withheld_in_countries
id,,,,,,,,,,,,,,,,,,,,,
961469311326986242,NaN,None,2018-02-08 05:18:41,"[0, 140]","{'hashtags': [{'text': 'POTUS', 'indices': [66...",NaN,{'full_text': 'CNN - INTERNATIONAL . THE LEAST...,0,False,low,...,0,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",CNN - INTERNATIONAL . THE LEAST TRUSTED NAME...,2018-02-08 05:18:41.713,True,"{'id': 882677034429710336, 'id_str': '88267703...",NaN
961469311578652673,NaN,None,2018-02-08 05:18:41,"[17, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': '@realDonaldTrump The Russian As...,0,False,low,...,0,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",@realDonaldTrump The Russian Asset Donald Trum...,2018-02-08 05:18:41.773,True,"{'id': 958747420904497153, 'id_str': '95874742...",NaN

In [23]:
df_a = a.collect()
print('a: %d' % len(df_a))
print('b: %d' % len(b))

a: 564
b: 564